*.iml
*.aab
.gradle
/local.properties
.kotlin
/.idea
.DS_Store
build
**/google-services.json
/captures
.externalNativeBuild
.cxx
local.properties
BudgetKey
xcuserdata
bin
.vscode
iosApp/.xcode.env
shared/exportedNativeExample/.build
StartYourBridgeHere.swift
DummySPMFile.swift
GoogleService-Info.plist
/misc/release/
firestore-debug.log