TEAM_ID=MU6R4JU7G8

PRODUCT_NAME=BudgetPlus
PRODUCT_BUNDLE_IDENTIFIER=com.kevlina.budgetplus

CURRENT_PROJECT_VERSION=1
MARKETING_VERSION=1.4.4

FRAMEWORK_SEARCH_PATHS = $(inherited) $(SRCROOT)/../shared/build/xcode-frameworks/$(CONFIGURATION)/$(SDK_NAME)
OTHER_LDFLAGS = $(inherited) -framework shared
